.colaborador{
    width: 280px;
    margin-bottom: 24px;
    position: relative;
}

.colaborador .encabezado{
    background-color: #6278F7;
    height: 91.9px;
    border-radius: 10px 10px 0 0;
}
.colaborador img{
    width: 50%;
    border-radius: 50%;
    position: relative;
    bottom: -15px;
}
.colaborador .info {
    background: #ffffff ;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.08);
    border-radius: 0px 0px 10px 10px;
    padding-top: 70px; 
    padding-bottom: 40px;  
    line-height: 22px;
    min-height: 100px;
    font-family: 'Montserrat',sans-serif;
}
.colaborador .info h4{
    color: #6278F7;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 8px;
    align-items: Center;
}
.colaborador .info h5{
    font-size: 18px;
    line-height: 22px;
    color: #212121;
    padding: 0 24PX;
    font-weight: 400;
    margin: 0;
}

.eliminar {
    position: absolute;
    right: -15px;
    top: -15px;
}